/* Color pallete
_____________________
black - #000
white - #fff
light - #d8d9db
buttons on hover - #ebebeb
button active state - #bbbcbe
function buttons - #df974c
function buttons on hover - #dfb07e
function button active state - #dd8d37

*/

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.screen{
    text-align: right;
    padding: 1.5rem 0.4rem;
    font-size: 3.2rem;
}
.wrapper{
    width: 400px;
    /* border: solid 3px red;  */
    background-color: #000;
    color: #fff;
    margin: 2rem auto;
}


.calc-button-row{
    /* border: 3px solid blue; */
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-button{
    background-color: #d8d9db;
    color: #000;
    border: none;
    font-size: 3.2rem;
    height: 100px;
    flex-basis: 24.5%;
}
.calc-button:last-child{
    background-color: #df974c;
    color: #fff;
}
.calc-button:last-child:hover{
    background-color: #dfb07e;
    color: #fff;
}
.calc-button:last-child:active{
    background-color: #dd8d37;
    color: #fff;
}
.calc-button:hover{
    background-color: #ebebeb;
}
.calc-button:active{
    background-color: #bbbcbe;
}
.double{
    flex-basis: 49.65%;
}
.triple{
    flex-basis: 74.8%;
}